{{>partials/header}}

<h1>Formulario</h1>
<hr>
<h2>O que qual seu nome?</h2>

<form method="GET">
  <input type="text" name="nome" placeholder="informe seu nome"/>
  <input type="submit" value="enviar"/>
</form>
{{#nome}}
<hr>
   um prazer {{nome}} te conhecer! 
{{/nome}}
<hr>  
{{>partials/footer}}